/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*{
    margin: 0;
    padding: 0;
}
section{
   
    color: white;
}
body{
   
  background-repeat: no-repeat; 
  background-size: cover;
}

.section2{
    background-color: black;
    align-items: center;
}
.container {
  display: flex;
  gap: 2rem; 
  align-items: center;
}




button.cta {
  width: auto;
  padding: 0.75rem 2rem;
}

button.cta:hover {
  background-color: #ff6e00;
  color: #fff;
}




.hero {
  position: relative;
  top: -80px; 
  height: 100vh; 
}


#slider {
  scroll-behavior: smooth;
}
.relative.overflow-hidden {
    width: 100%; /* Full container width */
    overflow: hidden; /* Hide overflowing slides */
}

/* Positioning and styling the dropdown */
.dropdown {
  position: relative;
}

.dropdown .menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #000; /* Black background for the dropdown */
  border: 2px solid #ff6e00; /* Orange border */
  border-radius: 0.375rem; /* Rounded corners */
  padding: 0.5rem; /* Inner padding */
  display: none; /* Initially hidden */
  z-index: 10; /* Ensure it appears above other elements */
}

/* Dropdown menu links */
.dropdown .menu ul {
  margin: 0;
  padding: 0;
  list-style: none; /* Remove bullets */
}

.dropdown .menu li {
  padding: 0.5rem 0;
}

.dropdown .menu li a {
  text-decoration: none;
  color: #fff; /* White text */
  font-size: 0.875rem; /* Small text */
  text-transform: uppercase; /* Uppercase text */
}

.dropdown:hover .menu {
  display: block; /* Show the menu on hover */
}



.dropdown i {
  cursor: pointer;
  margin-left: 0.5rem; /* Space between text and icon */
  color: #ff6e00; /* Icon color */
}

/* Animation for underline effect */
.underline-animation a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ff6e00;
  transition: width 0.3s;
}

.underline-animation a:hover::after {
  width: 70%; /* Full underline on hover */
}
