/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*{
    margin: 0;
    padding: 0;
}
section{
   
    color: white;
}
body{
    /* background-image: url('/public/assets/images/mitski-header.png');  */
  background-repeat: no-repeat; 
  background-size: cover;
}

.section2{
    background-color: black;
    align-items: center;
}
.container {
  display: flex;
  gap: 2rem; 
  align-items: center;
}




button.cta {
  width: auto;
  padding: 0.75rem 2rem;
}

button.cta:hover {
  background-color: #ff6e00;
  color: #fff;
}




.hero {
  position: relative;
  top: -80px; 
  height: 100vh; 
}


#slider {
  scroll-behavior: smooth;
}
.relative.overflow-hidden {
    width: 100%; /* Full container width */
    overflow: hidden; /* Hide overflowing slides */
}









